*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

body, h1, h2, h3, h4, p, ul, li, img, picture {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a, a:focus, a:active, a:visited {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

img, picture {
  border: 0 none;
  vertical-align: top;
  max-width: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  display: inline-block;
  background: transparent;
  border: 0 none;
}

:target {
  scroll-margin-block: 5ex;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

input, button, textarea, select {
  font: inherit;
}

body {
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: hsl(0, 0%, 0%);
}

.swiper-slide img {
  width: 100%;
}
.swiper-slide .slide__title {
  font-weight: 600;
  font-size: 3.35em;
  letter-spacing: -1.5px;
  line-height: 0.9;
}
.swiper-slide .slide__link {
  display: inline-block;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1em;
  margin-top: 2.5em;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.swiper-slide .slide__link:after {
  content: "";
  display: inline-block;
  width: 2.8em;
  height: 0.8em;
  background: url("../images/icon-arrow.svg") no-repeat center right/contain;
  margin-left: 1.2em;
  position: relative;
  top: 0.1em;
}
.swiper-slide .slide__link:hover {
  opacity: 0.5;
}

.swiper-image .swiper-button {
  width: 4.583em;
  height: 4.583em;
  background-color: hsl(0, 0%, 0%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16% 30%;
  top: auto;
  bottom: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.swiper-image .swiper-button.swiper-button-prev {
  left: auto;
  right: 4.583em;
  background-image: url("../images/icon-angle-left.svg");
}
.swiper-image .swiper-button.swiper-button-next {
  right: 0;
  background-image: url("../images/icon-angle-right.svg");
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "";
}

@media screen and (min-width: 768px) {
  .swiper-slide img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .swiper-slide .slide__title {
    font-size: 3.15em;
  }
  .swiper-slide .slide__link {
    font-size: 1em;
  }
  .swiper-image {
    height: 100%;
    position: static;
  }
  .swiper-image .swiper-button {
    width: 5em;
    height: 5em;
  }
  .swiper-image .swiper-button.swiper-button-prev {
    right: -5em;
  }
  .swiper-image .swiper-button.swiper-button-next {
    right: -10em;
  }
  .swiper-image .swiper-button:hover {
    background-color: hsl(0, 0%, 27%);
  }
  .swiper-content .slide__inner {
    width: 67.334%;
  }
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 9em;
  z-index: 1000;
  color: hsl(0, 0%, 100%);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.header__inner {
  position: relative;
  height: 100%;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.6em;
}
.header__logo__img {
  width: 100%;
  vertical-align: middle;
}
.header__wrapper {
  height: 100%;
}
.header__toggle {
  width: 1.8em;
  height: 1.53em;
  margin: 0.2em;
  background: url("../images/icon-hamburger.svg") no-repeat center center/contain;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-image 0.2s, width 0.2s, height 0.2s;
  transition: background-image 0.2s, width 0.2s, height 0.2s;
  cursor: pointer;
}
.header__nav {
  display: none;
  opacity: 0;
}
.header__nav__item {
  display: inline-block;
  font-weight: 600;
  font-size: 1.375em;
  margin-left: 1.5em;
  text-transform: lowercase;
  letter-spacing: -1px;
}
.header + .nav-bg {
  display: none;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.header.is-open {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
}
.header.is-open .header__logo {
  opacity: 0;
}
.header.is-open .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.is-open .header__toggle {
  position: static;
  -webkit-transform: none;
          transform: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.375em;
  height: 1.375em;
  background-image: url("../images/icon-close.svg");
}
.header.is-open .header__nav {
  display: block;
  -webkit-animation: fadeIn 0.4s 0.05s alternate forwards;
          animation: fadeIn 0.4s 0.05s alternate forwards;
}
.header.is-open + .nav-bg {
  display: block;
  -webkit-animation: fadeIn 0.4s 0.05s alternate forwards;
          animation: fadeIn 0.4s 0.05s alternate forwards;
}

@media screen and (min-width: 768px) {
  .header {
    width: 58.3%;
    padding-top: 3em;
  }
  .header__inner.inner-box {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__toggle {
    display: none;
  }
  .header__nav {
    display: block;
    opacity: 1;
  }
  .header__nav__list {
    margin-left: 3em;
  }
  .header__nav__item {
    margin-left: 1.75em;
    font-weight: 500;
    letter-spacing: 0;
  }
  .header__nav__item__link {
    position: relative;
  }
  .header__nav__item__link:after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }
  .header__nav__item__link:hover:after {
    width: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-hero .wrap2 {
  padding: 5em 0;
}

@media screen and (min-width: 768px) {
  .section-hero {
    height: 66.625%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-hero .wrap1 {
    position: relative;
    width: 58.3%;
  }
  .section-hero .wrap2 {
    width: 41.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section-about__img img {
  width: 100%;
}
.section-about__cont {
  padding: 4.5em 0;
}
.section-about__cont__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 0.5em;
}

@media screen and (min-width: 768px) {
  .section-about {
    height: 33.375%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-about__img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-about .img-wrap1 {
    width: 29.16%;
  }
  .section-about .img-wrap2 {
    width: 30.56%;
  }
  .section-about__cont {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-about__cont__inner.inner-box {
    width: 84.48%;
  }
}
html, body {
  height: 100%;
}

body {
  position: relative;
  min-width: 375px;
}

.inner-box {
  width: 87.73%;
  margin: 0 auto;
}

.text--gray {
  margin-top: 1em;
  font-size: 1.375em;
  color: hsl(0, 0%, 63%);
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  main {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.2vw;
    font-size: 13px;
  }
  .text--gray {
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) {
  main {
    font-size: 1.3vw;
  }
}
@media screen and (min-width: 1200px) {
  main {
    font-size: 15.6px;
  }
}
.text--hidden {
  text-indent: -9999em;
}

.of--hidden {
  overflow: hidden;
}

.of--auto {
  overflow: auto;
}