@use '../utils/variable' as vars;

.swiper-slide {
    img {
        width: 100%;
    }

    .slide {
        &__title {
            font-weight: vars.$font-regular;
            font-size: 3.35em;
            letter-spacing: -1.5px;
            line-height: 0.9;
        }

        &__link {
            display: inline-block;
            font-weight: vars.$font-regular;
            font-size: 1.3em;
            text-transform: uppercase;
            letter-spacing: 1em;
            margin-top: 2.5em;
            transition: opacity 0.2s;

            &:after {
                content: "";
                display: inline-block;
                width: 2.8em;
                height: 0.8em;
                background: url("../images/icon-arrow.svg") no-repeat center right / contain;
                margin-left: 1.2em;
                position: relative;
                top: 0.1em;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.swiper-image {
    .swiper-button {
        width: 4.583em;
        height: 4.583em;
        background-color: vars.$black;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16% 30%;
        top: auto; bottom: 0;
        transition: background-color 0.3s;
        
        &.swiper-button-prev {
            left: auto;
            right: 4.583em;
            background-image: url("../images/icon-angle-left.svg");
        }

        &.swiper-button-next {
            right: 0;
            background-image: url("../images/icon-angle-right.svg");
        }
    }
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}

@media screen and (min-width: 768px) {
    .swiper-slide {
        img {
            height: 100%;
            object-fit: cover;
        }

        .slide {
            &__title {
                font-size: 3.15em;
            }

            &__link {
                font-size: 1em;
            }
        }
    }

    .swiper-image {
        height: 100%;
        position: static;

        .swiper-button {
            width: 5em;
            height: 5em;

            &.swiper-button-prev {
                right: -5em;
            }
    
            &.swiper-button-next {
                right: -10em;
            }

            &:hover {
                background-color: vars.$very-dark-gray;
            }
        }
    }

    .swiper-content {
        .slide {
            &__inner {
                width: 67.334%;
            }
        }
    }
}