@use '../utils/variable' as vars;

h1, h2, h3, h4, button, input, label {
    line-height: 1.1;
}
h1, h2, h3, h4 {
    text-wrap: balance;
}
input, button, textarea, select {
    font: inherit;
}

body {
    font-family: vars.$font-main, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: vars.$font-size;
    color: vars.$black;
}